{% extends "webpage/base.html" %}
{% load staticfiles %}
{% load webpage_extras %}
{% block title %}Search{% endblock %}
{% block content %}
<script src="{{ openseadragon_js }}"></script>
    <div class="container">
        <div class="card">
            <div class="card-header" style="text-align: center">
                <div class="row">
                    <div class="col-md-2">
                        {% if prev %}
                            <h2>
                                <a href="{{ first_page }}">
                                    <<
                                </a>
                                <br  />
                                <a href="{{ prev }}">
                                    <
                                </a>
                            </h2>
                        {% endif %}
                    </div>
                    <div class="col-md-8">
                        <h2> {{ result.extra_info.title }} <small> {{ result.page_id }} / {{ result.extra_info.nrOfPages }}</small></h2>
                    </div>
                <div class="col-md-2">
                    <h2>
                        {% if next %}
                        <a href="{{ last_page }}" style="float:right">
                            >>
                        </a><br  />
                        <a href="{{ next }}" style="float:right">
                            >
                        </a>

                    </h2>
                    {% endif %}
                </div>
            </div>
            </div>
            <div class="card body">
                <div class="card">
                    <div class="row">
                        <div class="col-6">
                            <div class="card">
                                <div class="card-header">
                                    <h2>IMG</h2>
                                </div>
                                <div class="card-body" id="iiif" style="width: 100%; height: 800px">
                                    <script type="text/javascript">
                                        var viewer = OpenSeadragon({
                                            id: "iiif",
                                            tileSources: {
                                                type: 'image',
                                                url: "{{ result.img_url}}"
                                            },
                                            prefixUrl: "{{ openseadragon_img }}"
                                        });
                                    </script>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="card">
                                <div class="card-header">
                                    <h2>TEXT</h2>
                                </div>
                                <div class="card-body">
                                    <p>
                                        {% for x in result.transcript %}
                                            {{ x }} <br />
                                        {% endfor %}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
